amqp==5.3.1
anyio==4.11.0
asgiref==3.10.0
billiard==4.2.2
celery==5.5.3
certifi==2025.10.5
channels==4.3.1
channels_redis==4.3.0
charset-normalizer==3.4.4
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.5
Django==5.2.7
django-celery-beat @ git+https://github.com/celery/django-celery-beat.git@ba33a9cacde2a8a39025c9a52c0924486dff045c
django-prometheus==2.4.1
django-timezone-field==7.1
flower==2.0.1
h11==0.16.0
httptools==0.7.1
humanize==4.14.0
idna==3.11
kombu==5.5.4
msgpack==1.1.2
packaging==25.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.3
redis==6.4.0
requests==2.32.5
six==1.17.0
sniffio==1.3.1
sqlparse==0.5.3
tornado==6.5.2
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.38.0
vine==5.1.0
watchfiles==1.1.1
wcwidth==0.2.14
websockets==15.0.1
